@import url("https://fonts.googleapis.com/css?family=Do+Hyeon");

.container      {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    justify-content: center;
}

.calc   {
    border: 5px solid;
    width: 350px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: lightslategrey;
    border-radius: 10px;    
}
header  {
    font-size: 40px; 
    margin-bottom: 20px;
    font-family: Do Hyeon;
    color: blue;
}

*  {
    margin: 0;
}